In [1]:
import pandas as pd 
import numpy as np 
import sqlite3

In [3]:
con=sqlite3.connect('db.sqlite3')

In [4]:
query = "select * from model_CovidData"

In [80]:
df= pd.read_sql_query(query, con)

In [6]:
df

,id,PatientNumber,StatePatientNumber,DateAnnounced,EstimatedOnsetDate,AgeBracket,Gender,DetectedCity,DetectedDistrict,DetectedState,...,notes,ContractedfromwhichPatient,Nationality,Typeoftransmission,StatusChangeDate,Source_1,Source_2,Source_3,BackupNotes,Numcases
0,0,17307,,20/04/2020,,48,M,,Bhadrak,Odisha,...,Details awaited,,,,20/04/2020,https://twitter.com/the_hindu/status/125205985...,,,,1
1,1,17308,,20/04/2020,,55,M,,Bhadrak,Odisha,...,Details awaited,,,,20/04/2020,https://twitter.com/the_hindu/status/125205985...,,,,1
2,2,17309,,20/04/2020,,57,M,,Bhadrak,Odisha,...,Details awaited,,,,20/04/2020,https://twitter.com/the_hindu/status/125205985...,,,,1
3,3,17310,,20/04/2020,,58,M,,Bhadrak,Odisha,...,Details awaited,,,,20/04/2020,https://twitter.com/the_hindu/status/125205985...,,,,1
4,4,17311,,20/04/2020,,66,M,,Bhadrak,Odisha,...,Details awaited,,,,20/04/2020,https://twitter.com/the_hindu/status/125205985...,,,,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10814,10814,,,22/04/2020,,,,,,Maharashtra,...,Correction for district count,,,,,,,,,11
10815,10815,,,24/04/2020,,,,,Nagpur,Maharashtra,...,Correction for district count,,,,,,,,,1
10816,10816,,,24/04/2020,,,,,,Maharashtra,...,Correction for district count,,,,,,,,,-1
10817,10817,,,25/04/2020,,,,,Nagpur,Maharashtra,...,Correction for district count,,,,,,,,,6
10818,10818,,,25/04/2020,,,,,,Maharashtra,...,Correction for district count,,,,,,,,,-6

In [7]:
df2 = df[['DetectedState','DateAnnounced']]

In [8]:
df2

      DetectedState DateAnnounced
0            Odisha    20/04/2020
1            Odisha    20/04/2020
2            Odisha    20/04/2020
3            Odisha    20/04/2020
4            Odisha    20/04/2020
...             ...           ...
10814   Maharashtra    22/04/2020
10815   Maharashtra    24/04/2020
10816   Maharashtra    24/04/2020
10817   Maharashtra    25/04/2020
10818   Maharashtra    25/04/2020

[10819 rows x 2 columns]

In [9]:
df2.count()

DetectedState    10819
DateAnnounced    10819
dtype: int64

In [11]:
pd.unique(df2['DetectedState'])

array(['Odisha', 'West Bengal', 'Rajasthan', 'Karnataka', 'Gujarat',
       'Andhra Pradesh', 'Maharashtra', 'Haryana',
       'Andaman and Nicobar Islands', 'Jammu and Kashmir', 'Kerala',
       'Madhya Pradesh', 'Tamil Nadu', 'Jharkhand', 'Punjab', 'Bihar',
       'Telangana', 'Uttar Pradesh', 'Uttarakhand', 'Delhi', 'Meghalaya',
       'Chandigarh', 'Assam', 'Himachal Pradesh', 'Chhattisgarh',
       'Ladakh', 'Puducherry'], dtype=object)

In [12]:
print(len(df2))

10819

In [13]:
print(len(df2.columns))

2

In [63]:
import datetime
list1=[]
for i in range(len(df2)):
    for j in range(len(df2.columns)):
        if df2['DateAnnounced'][i] >= datetime.datetime.strptime('19-04-2020',"%d-%m-%Y") and df2['DateAnnounced'][i] >= datetime.datetime.strptime('20-04-2020',"%d-%m-%Y") :
            list1.append(df2['DetectedState'][i])

DetectedState = pd.Series(list1)
DetectedState.nunique()

27

In [33]:
df2.dtypes

DetectedState    object
DateAnnounced    object
dtype: object

In [23]:
help(datetime.date.strftime)

Help on method_descriptor:

strftime(...)
    format -> strftime() style string.

In [35]:
pd.to_datetime(df2['DateAnnounced'])

0       2020-04-20
1       2020-04-20
2       2020-04-20
3       2020-04-20
4       2020-04-20
           ...
10814   2020-04-22
10815   2020-04-24
10816   2020-04-24
10817   2020-04-25
10818   2020-04-25
Name: DateAnnounced, Length: 10819, dtype: datetime64[ns]

In [49]:
pd.to_datetime(df2['DateAnnounced'])

0       2020-04-20
1       2020-04-20
2       2020-04-20
3       2020-04-20
4       2020-04-20
           ...
10814   2020-04-22
10815   2020-04-24
10816   2020-04-24
10817   2020-04-25
10818   2020-04-25
Name: DateAnnounced, Length: 10819, dtype: datetime64[ns]

In [76]:
df2

      DetectedState DateAnnounced
0            Odisha    2020-04-20
1            Odisha    2020-04-20
2            Odisha    2020-04-20
3            Odisha    2020-04-20
4            Odisha    2020-04-20
...             ...           ...
10814   Maharashtra    2020-04-22
10815   Maharashtra    2020-04-24
10816   Maharashtra    2020-04-24
10817   Maharashtra    2020-04-25
10818   Maharashtra    2020-04-25

[10819 rows x 2 columns]

In [66]:
for i in range(len(DetectedStates.unique()):
    if DetectedStated[i]

10819

In [74]:
df_new = df2.nunique()

In [77]:
df_new

DetectedState    27
DateAnnounced     7
dtype: int64

In [78]:
df.set_index(df['id'])

,id,PatientNumber,StatePatientNumber,DateAnnounced,EstimatedOnsetDate,AgeBracket,Gender,DetectedCity,DetectedDistrict,DetectedState,...,notes,ContractedfromwhichPatient,Nationality,Typeoftransmission,StatusChangeDate,Source_1,Source_2,Source_3,BackupNotes,Numcases
id,,,,,,,,,,,,,,,,,,,,,
0,0,17307,,20/04/2020,,48,M,,Bhadrak,Odisha,...,Details awaited,,,,20/04/2020,https://twitter.com/the_hindu/status/125205985...,,,,1
1,1,17308,,20/04/2020,,55,M,,Bhadrak,Odisha,...,Details awaited,,,,20/04/2020,https://twitter.com/the_hindu/status/125205985...,,,,1
2,2,17309,,20/04/2020,,57,M,,Bhadrak,Odisha,...,Details awaited,,,,20/04/2020,https://twitter.com/the_hindu/status/125205985...,,,,1
3,3,17310,,20/04/2020,,58,M,,Bhadrak,Odisha,...,Details awaited,,,,20/04/2020,https://twitter.com/the_hindu/status/125205985...,,,,1
4,4,17311,,20/04/2020,,66,M,,Bhadrak,Odisha,...,Details awaited,,,,20/04/2020,https://twitter.com/the_hindu/status/125205985...,,,,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10814,10814,,,22/04/2020,,,,,,Maharashtra,...,Correction for district count,,,,,,,,,11
10815,10815,,,24/04/2020,,,,,Nagpur,Maharashtra,...,Correction for district count,,,,,,,,,1
10816,10816,,,24/04/2020,,,,,,Maharashtra,...,Correction for district count,,,,,,,,,-1
10817,10817,,,25/04/2020,,,,,Nagpur,Maharashtra,...,Correction for district count,,,,,,,,,6
10818,10818,,,25/04/2020,,,,,,Maharashtra,...,Correction for district count,,,,,,,,,-6

In [84]:
df.to_csv('static/CSV/res2.csv')

In [83]:
df = df.set_index(df['id'])

AttributeError: 'DataFrame' object has no attribute 'remove_index'